{% extends "base.html" %}

{% block title %}
QBDB v3.0
{% endblock %}

{% block header %}
<div class='row'>
  <div class='col-md-12'>
    {% include "header.html" %}
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      QBDB v3.0
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group">
      <a href="#browse">
        <button type="button" class="btn btn-primary" id="browse">
          <i class="fa fa-book fa-fw"></i>&nbsp;Browse the DB</button>
      </a>
    </div>
    <div class="btn-group">
      <a href="#search">
        <button type="button" class="btn btn-primary" id="search">
          <i class='fa fa-search fa-fw'></i>&nbsp;Search the DB</button>
      </a>
    </div>
    <div class="btn-group">
      <a href="#read">
        <button type="button" class="btn btn-primary" id="read">Read me some questions</button>
      </a>
    </div>
  </div>
</div>
<span><br><br></span>
<div class="row">
  <div class="content text-center" id="qbdb-contents">

  </div>
</div>


{% endblock %}
