.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

req {
  font-weight: bold;
  text-decoration: underline;
}

#reader-question-text {
    min-height: 250px;
}

#reader-answer {
    min-height: 100px;
}

#buzz {
    min-width: 100px;
}