<td>
  <a href='#/packet/<%= packet_id %>'>
    <%= packet_name %>
  </a><br>
  in<br>
  <a href='#/tournament/<%= tournament_id %>'>
    <%= tournament %>
  </a>
</td>
<td>
  <a href='#/bonus/<%= id %>'>
    <%= number %>
  </a>
</td>
<td>
  <p class='text-justify'>
    <%= leadin %><br>
    <% _.each(_.zip(values, parts, answers), function(bpart) {
        if (bpart[0] > 0) { %>
          [<%= bpart[0] %>] <%= bpart[1] %><br>ANSWER: <%= bpart[2] %><br>
      <% } %>

    <% }) %>
  </p>
</td>
<td>
  <%
  var user_id = $('#user-id').val()
  if (!_.isUndefined(user_id)) {
  %>
    <select
      class='bonus-difficulty' data-bonus-id="<%= id %>">
      <option value='0'>None</option>
      <% for (i = 1; i <= 5; i++) { %>
          <option value='<%= i %>'
            <% if (i == my_diff) { %>
                selected
            <% } %>>
            <%= i %>
            </option>
      <% } %>
    </select>&nbsp;
  <% } %>
  <span id='bonus-<%= id %>-diff' class='badge alert-success'>
    <% if (difficulty > 0) { %>
      <%= difficulty %>
    <% } else { %>
      No ratings
    <% } %>
  </span>
</td>
<td>
  <%
  if (!_.isUndefined(user_id)) {
  %>
    <select
      class='bonus-quality' data-bonus-id="<%= id %>">
      <option value='0'>None</option>
      <% for (i = 1; i <= 5; i++) { %>
          <option value='<%= i %>'
            <% if (i == my_qual) { %>
                selected
            <% } %>>
            <%= i %>
            </option>
      <% } %>
    </select>&nbsp;
  <% } %>
  <span id='bonus-<%= id %>-qual' class='badge alert-success'>
    <% if (quality > 0) { %>
      <%= quality %>
    <% } else { %>
      No ratings
    <% } %>
  </span>
</td>
