<div class='col-sm-offset-1 col-md-10 packet-contents'>

  <div class='tossup-contents'>
    <table class='table table-striped table-hover tossup-table'>
      <thead>
        <tr>
          <th>Packet</th>
          <th>Number</th>
          <th>Question</th>
          <!--<th>Category</th>
          <th>Difficulty</th>
          <th>Quality</th>-->
        </tr>
        <tbody>

        </tbody>
    </table>
  </div>

  <div class='bonus-contents'>
    <table class='table table-striped table-hover bonus-table'>
      <thead>
        <tr>
          <th>Packet</th>
          <th>Number</th>
          <th>Question</th>
          <!--<th>Category</th>
          <th>Difficulty</th>
          <th>Quality</th>-->
        </tr>
        <tbody>

        </tbody>
    </table>
  </div>

</div>
