<div class='col-md-offset-4 col-md-4 text-left search-contents'>
    <form id='search-form'>
        <div class='form-group'>
            <label for='search-term'>
                Search term:
            </label>
            <input type='text' class='form-control' id='search-term' name='q'>
        </div>
        <div class='checkbox'>
            <label class='checkbox-inline'>
                <input type='checkbox' name='models' value='tossup' checked>Tossups
            </label>
            <label class='checkbox-inline'>
                <input type='checkbox' name='models' value='bonus' checked>Bonuses
            </label>
        </div>
        <div class='checkbox'>
            <label class='checkbox-inline'>
                <input type='checkbox' name='fields' value='question' checked>Question text
            </label>
            <label class='checkbox-inline'>
                <input type='checkbox' name='fields' value='answer' checked>Answer text
            </label>
        </div>
    </form>
    <button class='btn btn-default' value='Search' id='search'>Search</button>
</div>
