<td>
  <a href='#/packet/<%= packet_id %>'>
    <%= packet_name %>
  </a><br>
  in<br>
  <a href='#/tournament/<%= tournament_id %>'>
    <%= tournament %>
  </a>
</td>
<td>
  <a href='#/tossup/<%= id %>'>
    <%= number %>
  </a>
</td>
<td>
  <p class='text-justify'>
    <%= tossup_text %>
  </p>
  <p class='text-justify'>
    ANSWER: <%= answer %>
  </p>
</td>
<td>
  <%
  var user_id = $('#user-id').val()
  if (!_.isUndefined(user_id)) {
  %>
    <select
      class='tossup-difficulty' data-tossup-id="<%= id %>">
      <option value='0'>None</option>
      <% for (i = 1; i <= 5; i++) { %>
          <option value='<%= i %>'
            <% if (i == my_diff) { %>
                selected
            <% } %>>
            <%= i %>
            </option>
      <% } %>
    </select>&nbsp;
  <% } %>
  <span id='tossup-<%= id %>-diff' class='badge alert-success'>
    <% if (difficulty > 0) { %>
      <%= difficulty %>
    <% } else { %>
      No ratings
    <% } %>
  </span>
</td>
<td>
  <%
  if (!_.isUndefined(user_id)) {
  %>
    <select
      class='tossup-quality' data-tossup-id="<%= id %>">
      <option value='0'>None</option>
      <% for (i = 1; i <= 5; i++) { %>
          <option value='<%= i %>'
            <% if (i == my_qual) { %>
                selected
            <% } %>>
            <%= i %>
            </option>
      <% } %>
    </select>&nbsp;
  <% } %>
  <span id='tossup-<%= id %>-qual' class='badge alert-success'>
    <% if (quality > 0) { %>
      <%= quality %>
    <% } else { %>
      No ratings
    <% } %>
  </span>
</td>
