<table class='table table-striped table-hover'>
  <caption class='text-center'>
    <%= author %> - Tossups
  </caption>
  <thead>
    <tr>
      <td>Number</td>
      <td>Tossup Text</td>
      <td>Answer</td>
      <td>Category</td>
      <td>Difficulty</td>
      <td>Quality</td>
    </tr>
  </thead>
  <tbody>
    <% _.each(tossups, function(tossup) { %>
      <tr>
        <td>
          <a href='#/tossup/<%= tossup.id %>'>
            <%= tossup.number %>
          </a>
        </td>
        <td><%= tossup.tossup_text %></td>
        <td><%= tossup.answer %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </td>
    <% }) %>
  </tbody>
</table>
